/* Import Inter font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

/* Base styles */
* {
    font-family: 'Inter', sans-serif;
  }
  
  body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    overflow: hidden;
  }
  
  /* NAV */
  header {
    background-color: #4409AB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 108px;
    width: 100%
  } 
  nav {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0px 15px;
    justify-content: space-between;
  }
  
  main .container {
    margin-top: 50px;
    margin-left: 40px;
    margin-bottom: 25px;
  }
  .right-links{ 
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .searchbar {
    position: relative;
    display: flex;
    max-width: 600px;
    width: 100%;
  }
  #searchInput { 
    height: 40px;
    width: 100%; 
    padding: 10px 50px;
    border: 1px solid #ccc;
    border-radius: 28px;
    font-size: 1rem;
  }
  .search-icon { 
    position: absolute;
    top: 6px;
    left: 5px;
    pointer-events: none;
  }
  a .select-box-icon { 
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 25px;
    right: 1.5%;
    align-items: center;
    margin: 0 -8px;
  }

.back-btn{
  background-color: #4409AB;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  position: absolute;
  left: 50px;
  top: 150px;
}

.reserve-btn{
  background-color: #4409AB;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  position: absolute;
  right: 450px;
}

.contact-btn{
    background-color: rgb(164, 164, 164);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    position: absolute;
    right: 580px;
}
/* Main container */
.cafe-detail {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  padding-bottom: 24px;
}

/* Header banner */
.header-banner {
  background-color: #d9d9d9;
  align-self: stretch;
  display: flex;
  padding: 20px 20px;
  align-items: flex-start;
  gap: 20px;
  font-size: 36px;
  color: #000000;
  font-weight: 400;
  line-height: 1;
  flex-wrap: wrap;
}

.back-icon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 40px;
  align-self: start;
  flex-shrink: 0;
}

.edit-heading {
  margin-top: auto;
  margin-bottom: auto;
  flex-grow: 1;
  flex-shrink: 1;
  width: fit-content;
  flex-basis: auto;
  font-size: 36px;
  font-weight: 400;
}

/* Gallery section */
.cafe-gallery {
  margin-top: 30px;
  width: 1000px;
  height: 525px;
}

.gallery-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.main-image-column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 80%;
  height: 100%;
}

.main-cafe-image {
  aspect-ratio: 800 / 525;
  object-fit: cover;
  object-position: 0% 100%;
  image-rendering: crisp-edges;
  width: 100%;
  height: 100%;
}

.upload-placeholder {
  object-fit: contain;
  width: 70%;
  height: 70%;
  margin: auto;
  margin-right: 0px;
}

.thumbnail-column {
  display: flex;
}

.thumbnail-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.cafe-thumbnail {
  aspect-ratio: 200/175;
  object-position: center;
  width: 200px;
  display: none;
}

.cafe-thumbnail:hover {
  filter: brightness(80%);
  transition: filter 0.3s ease;
}

/* Cafe info section */
.cafe-info {
  width: 1100px;
  padding-top: 40px;
  padding-left: 10px;
  font-family:
    Inter,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
}

.info-container {
  display: flex;
  width: 100%;
  padding-left: 50px;
  flex-direction: column;
  align-items: stretch;
}

.cafe-header {
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
}

.cafe-name {
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 60px;
  width: 70%;
}

.add-detail-btn {
  border-radius: 8px;
  background-color: #dedee1;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 9%;
  padding: 12px 46px;
  font-size: 16px;
  font-weight: 600;
  border: none;
}

.cafe-meta {
  align-self: start;
  display: flex;
  margin-top: 11px;
  align-items: stretch;
  gap: 40px 46px;
}

.rating-container {
  display: flex;
  align-items: stretch;
  gap: 8px;
  white-space: nowrap;
}

.rating-score {
  display: flex;
  align-items: stretch;
  gap: 4px;
  font-size: 17px;
  color: #11141a;
  font-weight: 600;
  line-height: 1;
}

.score-value {
  flex-grow: 1;
}

.stars-image {
  aspect-ratio: 5.49;
  object-fit: contain;
  object-position: center;
  width: 88px;
  margin-top: auto;
  margin-bottom: auto;
  flex-shrink: 0;
}

.review-count {
  color: #322a7d;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.6;
}

.status-container {
  display: flex;
  align-items: stretch;
  gap: 6px;
  font-weight: 400;
}

.status-separator {
  color: #11141a;
  font-size: 20px;
  line-height: 0.5;
  margin-top: auto;
  margin-bottom: auto;
}

.opening-status {
  font-size: 16px;
  line-height: 24px;
  flex-basis: auto;
}

.closed-status {
  color: #ffa101;
}

.opening-time {
  color: #11141a;
}

/* Cafe details section */
.cafe-details {
  align-items: start;
  border-top: 1px solid #d3d3d3;
  display: flex;
  margin-top: 20px;
  width: 100%;
  padding: 20px 32px;
  gap: 32px;
  font-size: 16px;
  color: #11141a;
  font-weight: 400;
  justify-content: start;
  flex-wrap: wrap;
}

.address-info {
  display: flex;
  min-width: 240px;
  padding: 0 3px 24px 3px;
  align-items: stretch;
  gap: 14px;
  line-height: 24px;
  width: 350px;
}

.location-icon {
  aspect-ratio: 0.75;
  object-fit: contain;
  object-position: center;
  width: 15px;
  align-self: start;
  flex-shrink: 0;
}

.address-text {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  font-style: normal;
}

.hours-info {
  display: flex;
  gap: 26px;
  width: fit-content;
}

.contact-info {
  display: flex;
  gap: 26px;
  width: fit-content;
}

.days-column {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.weekday-container {
  display: flex;
  align-items: stretch;
  gap: 12px;
}

.clock-icon, .phone-icon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 20px;
  margin-top: auto;
  margin-bottom: auto;
  flex-shrink: 0;
}

.weekend {
  align-self: end;
}

.time-column {
  display: flex;
  flex-direction: column;
}

.table-info {
  display: flex;
  min-width: 240px;
  padding-bottom: 50px;
  align-items: start;
  gap: 13px;
  width: 257px;
}

.table-icon {
  aspect-ratio: 1.32;
  object-fit: contain;
  object-position: center;
  width: 25px;
  margin-top: 5px;
  flex-shrink: 0;
}


/* Form styles */
form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input,
button {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submit-btn {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  padding: 15px;
  font-size: 18px;
  text-align: center;
}

.submit-btn:hover {
  background-color: #45a049;
}

/* Popup Form */
.popup-form {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 40%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  max-height: 80%;
}

.popup-content h2 {
  margin-bottom: 20px;
  width: fit-content;
}

.popup-content form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.popup-content button {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#confirm-btn {
  background-color: #4caf50;
  color: white;
}

#cancel-btn {
  background-color: #f44336;
  color: white;
}

.page-actions {
  display: flex;
  justify-self: end;
  gap: 30px;
  margin-left: 12%;
}

.popup-content{
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  color: #333;
}

#map {
  height: 400px;
  width: 800px;
}

#open-map-btn {
  border-radius: 8px;
  background-color:#dedee1;
  margin-bottom: auto;
  margin-left: 10%;
  padding: auto;
  font-size: 12px;
  font-weight: 600;
  border: none;
}

#close-map-btn {
  margin-left: 95%;
  background: transparent;
  border: none;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  color: #333;
}

#map-popup.popup-form .popup-content{
  width: 800px;
  padding: 0%;
}